@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Light.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Light.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
        url('../../fonts/DINNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

